// define app theme set
// $primary: "light-blue";
// $accent: "teal";
// $warn: "light-green";

@import 'ember-paper';

div.footer {
  color: paper-contrast-color($primary, '100');
  background-color: paper-color($primary, '100');
  text-align: center;
  line-height: 0.8;
  padding: 0px;
  margin: 0px;
  text-shadow: 1px 1px #AAAAAA;
}

table {
  color: paper-contrast-color($primary, '400');

  margin-bottom: 8px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0px;
  border-radius: 2px;
  overflow: hidden;

  line-height: 1.4;
}

thead {
  background-color: paper-color($background, '400');
}

tbody {
  color: paper-color($foreground, '400');
}

md-toolbar {
  background: linear-gradient(to bottom, paper-color($primary, '600'), paper-color($primary, '400'));
  background: linear-gradient(to bottom, paper-var(--primary-600), paper-var(--primary-400));
}

div.sub-header {
  border-style: outset;
  border-width: 2px 0px 2px 0px;
  text-align: center;
  text-transform: capitalize;
}

div.content-panel {
  border-style: solid;
  border-width: 1px;
  border-color: #AAAAAA;
  margin: 16px;
}

img.content-panel {
  width: 95%;
  padding: 2%;
}
