{{!-- Parent/top-level template for the app, containing header(s), global
toolbars, and footer(s) for all views in the app. --}}

{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true}}
      {{!-- TODO: make the menu useful, or remove it... replace with Travefy logo? --}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <h1>Travefy</h1>
    <span class="flex"></span>
    <sup>Interview Project</sup>
    {{!-- Provide responsive spacer between the left and right toolbar elements. --}}
    <span class="flex"></span>
    {{#paper-item class="md-2-line"}}
      <img src={{this.model.ValidatedImageUrl}} class="md-avatar" alt="User's Photo">
      {{!-- TODO: on smaller displays, only show the first name instead of the fullname. --}}
      <div class="md-list-item-text">
        <h2>{{this.model.FullName}}</h2>
        {{!-- TODO: change this to an 'email' and 'phone' icon with either pop-ups or tooltips that show the appropriate value. --}}
        <p>{{this.model.Username}}</p>
      </div>
    {{/paper-item}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{!-- Children template content will be injected here. --}}
{{outlet}}

{{!-- Global footer. --}}
<div class="footer layout-column layout-align='center center'">
  {{#paper-item class="md-2-line"}}
    <div class={{flex}}></div>
    <div class={{flex}}>
      <p>Created by Alex Richard Ford | 2019</p>
      {{#paper-button href="https://www.travefy.com" target="_blank" rel="noopener"}}
        Travefy
      {{/paper-button}}
    </div>
    <div class={{flex}}></div>
  {{/paper-item}}
</div>
