{{!-- Displays the details for a **single** Trip. --}}

{{#let this.model as |trip|}}
  <div class="sub-header layout-row layout-align='center center'">
    {{#link-to "index"}}
      {{#paper-button accent=true raised=true width=md}}
        {{!-- {{paper-icon "backspace" size=24}} --}}
        {{paper-icon "navigate-before" size="md"}}
        Back to Trips
      {{/paper-button}}
    {{/link-to}}
    <span class="flex"></span>
    <h2>{{trip.Name}}</h2>
    <span class="flex"></span>
  </div>

  <div class="layout-row layout-md-column content-panel">
    <div class="flex">
      {{!-- TODO: figure out the proper way to set image width for responsive apps --}}
      <img src={{trip.ValidatedTripCoverPhotoUrl}} alt={{trip.Name}} class="content-panel">
    </div>
    <div class="flex">
      {{!-- TODO: compute the interval for this trip and display here --}}
      <p>
        <strong>Dates:</strong>
        {{!-- {{moment-format trip.TripStartDate "ddd, MMM Mo YYYY"}} --}}
        [[START]]
        to
        {{!-- {{moment-format trip.TripEndDate "ddd, MMM Mo YYYY"}} --}}
        [[END]]
        (
        {{!-- {{trip.TripDuration}} days --}}
        [[DURATION]]
        )
      </p>
      <p>
        <strong>Active:</strong>
        {{#if trip.Active}}
          {{paper-icon "check-box" size=24 primary=true}}
        {{else}}
          {{paper-icon "check-box-outline-blank" size=24 primary=true}}
        {{/if}}
      </p>
      <p>
        <strong>Created on:</strong>
        {{moment-format trip.CreatedOn}}
      </p>
      <p>
        <strong>Description:</strong>
        {{!-- TODO: see if there's a safer way than using 'triple-curlies' --}}
        {{{trip.InviteMessage}}}
      </p>
      <p>
        <strong>Estimated cost:</strong>
        {{format-currency trip.EstimatedCost}}
        {{#if trip.IsCostPerPerson}}
          <span>(per person)</span>
        {{else}}
          <span>(trip total)</span>
        {{/if}}
      </p>
      {{!-- TODO: normalize ShareUrlPath to use https://devteam.travefy.com --}}
      {{#paper-button raised=true href=trip.ShareUrlPath target="_blank"}}
        SHARE
      {{/paper-button}}

      <div class="content-panel">
        {{#paper-tabs primary=true center=true stretch=true
                borderBottom=true selected=0
                onChange=(action (mut selectedTab)) as |tabs|}}
          {{#each trip.TripDays as |tripDay|}}
            {{#tabs.tab value=tripDay class="layout-column flex"}}
              {{!-- <div class="layout-column flex"> --}}
              <div class="flex">
                {{tripDay.Title}}
              </div>
              <div class="flex">
                {{#if tripDay.Date}}
                  {{moment-format (utc tripDay.Date) "ddd, MMM Do YYYY"}}
                {{/if}}
              </div>
              {{!-- </div> --}}
              {{!-- {{#paper-button}}
                  Test<br>
                  Test
                {{/paper-button}}
                {{#if tripDay.Title}}
                  <div class="layout-column">
                    <p>{{tripDay.Title}}</p>
                    <p>{{tripDay.Date}}</p>
                  </div>
                {{else}}
                  {{#if tripDay.Date}}
                    {{moment-format (utc tripDay.Date) "ddd, MMM Do YYYY"}}
                  {{/if}}
                {{/if}} --}}
            {{/tabs.tab}}
          {{/each}}
        {{/paper-tabs}}

        {{#liquid-bind (hash tab=selectedTab.index m=selectedTab)
                  class="md-padding dynamic-animation" as |current|}}
          {{#if current.m.TripEvents}}
            <h4>
              Trip Events
              {{#if current.m.Date}}
                for {{moment-format (utc current.m.Date) "MMMM DD, YYYY"}}
              {{/if}}
            </h4>
            <div class="layout-row flex">
              <div class="flex"><strong>Time</strong></div>
              <div class="flex"><strong>Event Type</strong></div>
              <div class="flex"><strong>Title</strong></div>
              <div class="flex"><strong>Description</strong></div>
            </div>
            {{#paper-list}}
              {{#each current.m.TripEvents as |tripEvent|}}
                {{#paper-item layout-row}}
                  {{#if tripEvent.StartTimeInMinutes}}
                    <div class="flex">
                      {{tripEvent.StartTimeInMinutes}} {{tripEvent.StartTimeZoneId}}
                    </div>
                  {{/if}}
                  <div class="flex">
                    {{paper-icon (get-event-type-material-icon tripEvent.EventType)}}
                    {{get-event-type-display-name tripEvent.EventType}}
                  </div>
                  <div class="flex">{{tripEvent.Name}}</div>
                  <div class="flex">{{{tripEvent.Description}}}</div>
                {{/paper-item}}
                {{paper-divider}}
              {{/each}}
            {{/paper-list}}
          {{/if}}

        {{/liquid-bind}}
      </div>
    </div>
  </div>

{{/let}}
