<div align="center">
  <h2>User's Trips</h2>
</div>

<div class="layout-row layout-xs-column">
  {{#each this.model as |tripEntry|}}
    {{#paper-card onClick=(action "goToTripDetails" tripEntry.Id) as |card|}}
      {{card.image src=tripEntry.ValidatedTripCoverPhotoUrl
                   alt=tripEntry.Name
                   title=tripEntry.Name
                   size="md"}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{tripEntry.Name}}{{/text.headline}}
          {{!-- {{#text.subhead}}Medium{{/text.subhead}} --}}
        {{/title.text}}
      {{/card.title}}
      {{!-- {{#title.media size="md"}}
        <div class="card-media"></div>
      {{/title.media}} --}}
      {{#card.content}}
        {{{tripEntry.InviteMessage}}}
      {{/card.content}}
      {{#card.actions}}
        {{#paper-button iconButton=true}}
          {{paper-icon "info" accent=true}}
        {{/paper-button}}
        {{#paper-button iconButton=false
                        accent=true
                        onClick=(action "goToTripDetails" tripEntry.Id)}}
          View Details
          {{!-- {{paper-icon "open-in-new" accent=true}} --}}
          {{!-- {{paper-icon "chevron-right" accent=true}} --}}
          {{paper-icon "navigate-next" accent=true}}
          {{!-- {{paper-icon "arrow-forward" accent=true}} --}}
          {{!-- {{paper-icon "arrow-forward-ios" accent=true}} --}}
          {{!-- {{paper-icon "fullscreen" accent=true}} --}}
          {{!-- {{paper-icon "unfold-more" accent=true}} --}}
        {{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/each}}
</div>
